* {
   font-size: 14px;
   font-family: Helvetica, Arial, sans-serif;
   color: white;
   list-style: none;
   margin: 0;
   padding: 0;
   text-align: center;
   text-decoration: none;
   box-sizing: border-box;
}

.navbar {
   background-color: black;
   width: 100%;
   height: 50px;
   position: fixed;
   margin-bottom: 10px;
   z-index: 100;
   /* height: 3em; */
   /* top: 0; */
   /* display: flex; */
   /* justify-content: space-between; */
}

.navbar:before {
   content: "";
   z-index: -1;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: linear-gradient(-45deg, #000000 0%, #0906be 100%);
   transform: translate3d(0px, 5px, 0) scale(0.95);
   filter: blur(8px);
   opacity: var(0.7);
   transition: opacity 0.3s;
   border-radius: inherit;
}

.navbar::after {
   content: "";
   z-index: -1;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: inherit;
   border-radius: inherit;
}

.nav-brand {
   position: absolute;
   padding: 0px 30px;
}

.nav-brand h2 {
   font-size: 1.5em;
   line-height: 50px;
}

.nav-menu {
   float: right;
   margin-top: 5px;
}

.nav-item {
   display: inline-block;
   font-weight: bold;
   line-height: 25px;
   margin-top: 10px;
   padding: 0px 25px;

   border-right: 1px solid white;

   cursor: pointer;
}

.nav-item:last-child {
   border-right: none;
}

.nav-item:hover {
   background-color: white;
   transition: 0.6s;
   color: black;
}

.checkbtn {
   font-size: 1.2em;
   float: right;
   line-height: 50px;
   margin-right: 40px;
   cursor: pointer;
   display: none;
}

#check {
   display: none;
}

.principal {

   display: grid;
   grid-template-columns: repeat(4, minmax(100px, 368px));
}

/* Seccion 1 INICIA AQUÍ */
.seccion1 {
   background-image: radial-gradient(circle at 25.82% -16.45%,
         #5d70c4 0,
         #061430 50%,
         #000000 100%);
   grid-area: 1/1/3/5;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: 95vh;
   grid-template-areas: "info info bbvn bbvn"
      "info info bbvn bbvn ";
   gap: 25px;
   padding-bottom: 20px;
}

.seccion1-info {
   grid-area: info;
   display: grid;
   grid-template-rows: 40vh 30vh;

}

.seccion1-encabezado {
   place-self: center;

}

.seccion1-encabezado h2 {
   font-size: 5em;
   text-shadow: 2px 2px 5px black;
}

.seccion1-lista {
   font-size: 1.5em;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   padding: 10px;
   text-shadow: 2px 2px 5px black;
}

.seccion1-cuerpo {
   padding: 0px 30px;
}

.seccion1-cuerpo li {
   font-size: 1em;
   padding-bottom: 25px;
   text-shadow: 2px 2px 5px black;
}

.seccion1-cuerpo p {
   font-size: 1.2em;
   padding-bottom: 25px;
   text-shadow: 4px 4px 3px black;
}

.seccion1-cuerpo h2 {
   margin-top: 10px;
   font-size: 1.8em;
   text-shadow: 3px 3px 3px black;
}

.saludo {
   margin-right: 25px;
   margin-top: 50px;
   grid-area: bbvn;
   display: grid;
   place-items: center;
   grid-template-rows: 45vh 40vh 20vh;

}

.saludo-encabezado {
   padding: 30px;
}

.saludo-encabezado h2 {
   font-size: 3em;
}

.botones {
   display: grid;
   grid-template-columns: 2fr 2fr 2fr;
   gap: 30px;

}

.boton-inicio {
   font-size: 1.2em;
   padding: 20px;
   color: white;
   text-shadow: 0px 0px 5px black;
   background: #8e2de2;
   /* fallback for old browsers */
   background: -webkit-linear-gradient(to bottom, #8e2de2, #4a00e0);
   /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to bottom, #8e2de2, #4a00e0);
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   border: none;
   border-radius: 25px;
   box-shadow: 0px 0px 10px white;
}

.boton-inicio:hover {
   transform: scale(.9);
   box-shadow: 0px 2px 20px white;
}

.seccion2 {
   grid-area: 3 /1/ 6/5;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: 95vh;
   grid-template-areas:
      "foto tech"
      "foto tech";
   place-items: center;
}

.imagen {
   grid-area: foto;
}

.imagen img {
   width: 78%;
}

.tecnologias {
   grid-area: tech;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 5px;
}

.tecnologiasItem {
   margin: 15px;
   background-color: white;
   border-radius: 15px;
   padding: 10px 0px;
   cursor: pointer;
   text-align: center;
   position: relative;
   object-fit: contain;
}

.tecnologiasItem img {
   width: 30%;
}

.tecnologiasItem:hover {
   transform: scale(1.1);
}

.tecnologiasItem:before {
   content: "";
   z-index: -1;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: linear-gradient(-45deg, #210cae 0%, #4dc9e6 100%);
   transform: translate3d(0px, 8px, 0) scale(0.95);
   filter: blur(10px);
   opacity: var(0.7);
   transition: opacity 0.3s;
   border-radius: inherit;
}

.tecnologiasItem::after {
   content: "";
   z-index: -1;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: inherit;
   border-radius: inherit;
}

@media screen and (max-width: 976px) {
   .nav-brand {
      padding: 0px 10px;
   }

   .nav-brand h2 {
      font-size: 1em;
   }

   .nav-item {
      display: inline-block;
      font-weight: regular;
      line-height: 15px;
      margin-top: 10px;
      padding: 0px 15px;

      border-right: 1px solid white;

      cursor: pointer;
   }

   .seccion1-info {
      grid-template-rows: 40vh 50vh;
   }

   .seccion1-encabezado h2 {
      font-size: 3.5em;
   }

   .seccion1-lista {
      font-size: 1.2em;
   }

   .seccion1-cuerpo p {
      font-size: 1em;
   }

   .saludo {
      margin-right: 0px;
   }

   .saludo-encabezado h2 {
      font-size: 2em;


   }

   .botones {
      display: grid;
      grid-template-columns: 1fr;
      gap: 30px;
   }

   .seccion2 {
      gap: 0;
   }
}

@media screen and (max-width: 768px) {

   .checkbtn {
      display: block;
   }

   .nav-menu {
      position: fixed;
      width: 100%;
      height: 100vh;
      background-color: gray;
      top: 40px;
      left: -100%;
      text-align: center;
      transition: all 0.5s;

   }

   .nav-item {
      display: block;
      font-size: 2em;
      ;
      margin: 20px 0;
      line-height: 30px;
   }

   #check:checked~.nav-menu {
      left: 0;
   }

   .seccion1 {
      display: grid;
      grid-auto-columns: minmax(100px, 150px);
      grid-template-areas: "info info info info"
         "bbvn bbvn bbvn bbvn";
      gap: 10px;
      justify-items: center;
      padding-bottom: 0px;
   }

   .imagen img {
      display: none;
   }

   .seccion2 {
      height: 100vh;
      margin-top: 40px;
      display: grid;
      grid-template-areas:
         "tech tech"
         "tech tech";
   }

   .tecnologias {
      gap: 3px;
   }

   .tecnologiasItem {
      margin: 5px;
   }
}